.navbar-static-top {
    margin-bottom: 19px;
    }
.navbar-default .navbar-nav>li>a {
    cursor: pointer;
    }
  
  /* styling footer */
footer p{
    text-align: center;
    padding-top: 10px;
    }
body {
    margin-top: 70px;
	background: #e6e9ed;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #e6ecf2, #c3cfe0);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #e6ecf2, #c3cfe0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: Roboto;
    }
  
  

.img-circle{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border: 2px solid #9D9F93;
    }

.center_top {
    position: absolute;
    width: 500px;
    height: 50px;
    top: 10%;
    left: 60%;
    margin-left: -250px; /* margin is -0.5 * dimension */
    margin-top: -25px;
    }
.center_screen {
    position: absolute;
    width: 500px;
    height: 50px;
    top: 60%;
    left: 50%;
    margin-left: -250px; /* margin is -0.5 * dimension */
    margin-top: -25px;
    } 
.left_top{
    position: absolute;
    width: 500px;
    height: 50px;
    top: 15%;
    left: 10%;
    margin-left: -250px; /* margin is -0.5 * dimension */
    margin-top: -25px;
    }

.button {
    background-color: #6EB0C5;
    border: none;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    }

#button3 {
    border-radius: 8px;
    }
