.navbar-static-top {
    margin-bottom: 19px;
    }
.navbar-default .navbar-nav>li>a {
    cursor: pointer;
    }
	
body{
  height: 100%;
  background: white;
}
  
  /* styling footer */
footer p{
    text-align: center;
    padding-top: 10px;
    }
  
  

.img-circle{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border: 2px solid #9D9F93;
    }

.center_top {
    position: absolute;
    width: 500px;
    height: 50px;
    top: 10%;
    left: 60%;
    margin-left: -250px; /* margin is -0.5 * dimension */
    margin-top: -25px;
    }
.center_screen {
    position: absolute;
    width: 500px;
    height: 50px;
    top: 60%;
    left: 50%;
    margin-left: -250px; /* margin is -0.5 * dimension */
    margin-top: -25px;
    } 
.left_top{
    position: absolute;
    width: 500px;
    height: 50px;
    top: 15%;
    left: 10%;
    margin-left: -250px; /* margin is -0.5 * dimension */
    margin-top: -25px;
    }

.button {
    background-color: #6EB0C5;
    border: none;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    }

#button3 {
    border-radius: 8px;
    }
