body {
  margin-top: 70px
}

hr {
  color: white
}

.header img{
  float: right;
  width: 60px;
  height: 60px;
  background: #555;
  border-radius:70%;
}

.header h3 {
  position: relative;
  top: 18px;
  left: 10px;
}

.post img{
  float: left;
  width: 60px;
  height: 60px;
  background: #555;
  border-radius:70%;
}

#postlah {
	font-size: 20px;
	padding-left:10px;
	font-weight : bold;
}

.post h3 {
  position: relative;
  top: 18px;
  left: 10px;
}

.button-group {
  margin-bottom: 20px;

}

.counter {
  display: inline;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 10px;
}

.posts {
  clear: both;
  list-style: none;
  padding-left: 0;
  width: 100%;
}

.posts li {
  background-color: #fff;
  border: 1px solid #d8d8d8;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  word-wrap: break-word;
  min-height: 42px;
}

#nama {
	padding-left: 50px;
}


@media only screen and (max-width: 768px) {
  .flex-item{
    padding: 0 15px;
	width: 290px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
  }
}

#my-list{
  background: #0077B5
}
#my-list .my-list-title{
  font-size: 40px;
  margin-bottom: 1em;
  color: gray;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  text-align: left;
}

.to-do-list{
  text-align: left;
  background: #fff;
  position: relative;
  z-index: 15;
  margin-bottom: 60px;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.to-do-list:after{
	content:"";
	display:block;
	height:25px;
	background: #fff;
}
.flex{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin-right: -15px;
  margin-left: 50px;
}

.flex-lowongan{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin-right: -15px;
  margin-left: -15px;
}

.flex-item{
  padding: 0 15px;
  width : 500px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 25%;
}

.to-do-list:hover {
	-webkit-box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(0, -5px);
    -moz-transform: translate(0, -5px);
    -o-transform: translate(0, -5px);
    transform: translate(0, -5px);
}

.to-do-list .to-do-list-title {
  font-size: 16px;
  font-weight: 700;
  padding: 10px 10px 0;
}
.to-do-list .to-do-list-date-added {
  font-size: 12px;
  padding: 0 105px;
}

.to-do-list .to-do-list-description {
  padding: 10px 105px;
  z-index: 15;
  background: #fff;
  height: 125px;
  text-align: justify;
  overflow: auto;
}

@media only screen and (max-width: 480px) {
  .flex-item{
    padding: 0 15px;
    width: 320px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
  }
}
