{% extends "fitur_login/layout/base.html" %}
{% block content %}
<div id="top_div">
    <div class="container"> 
            <div id="top_div2">
                <br>
                SELAMAT DATANG, SILAHKAN LOGIN UNTUK BERGABUNG DENGAN PERUSAHAAN KAMI
            </div> 
    </div>
   
</div> 

{% endblock %}
