<!-- templates/lab_5/partials/header.html -->
<nav class="navbar navbar-default navbar-static-top navbar-fixed-top" style="background-color:darkblue">
  <div class="container" style="background-color:darkblue">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img class="navbar-brand" src="http://www.dcorti.com/griffin/clear-400x400-logo.png" href="#">
      <a class="navbar-brand" href="" style="color: white">Home</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse" >
      <ul class="nav navbar-nav">
        <!-- LINK MENUJU table, dan link menuju home#form -->
        <li><a href="{% url 'fitur-login:index' %}" style="color: white" >Login</a></li>
        <li><a href="{% url 'profile:profile' %}" style="color: white" >Profile</a></li>
        <li><a href="{% url 'forum:index' %}" style="color: white" >Forum</a></li>
      </ul>
    </div>
  </div>
</nav>