{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="{{author}}">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">    
    <link rel="stylesheet" type="text/css" href="{% static 'css/fitur_profile.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
    <!-- bootstrap csss -->

    <title>
        {% block title %} Profile {% endblock %}
    </title>
</head>

<body style="margin-top:0px;">
    <header>
        {% include "fitur_profile/partials/header.html" %}
    </header>
    <content>
        {% block content %}
        {% endblock %}
	</content>
	<br><br>
    <footer>
        <!-- TODO Block Footer dan include footer.html -->
        {% block footer %}
        {% include "fitur_profile/partials/footer.html" %}
        {% endblock %}
    </footer>

    <!-- Jquery n Bootstrap Script -->
    <script type="text/javascript" src="header.js"></script>

</body>
</html>
