{% extends "fitur_profile/layout/base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}

	<div class="container text-center" id="fitur_profile" style="margin-top: 125px;">
			<h4 style="text-align:left">Selamat Datang, </h4>
			<h4 id="namaPerusahaan"><br></br></h4>
			<br><br>
			
			<img class = "img-circle" src = "https://ddvqhbgjmdkmq.cloudfront.net/wp-content/uploads/sites/2/2016/02/12000455/company-icon.png" alt = "PerusahaanKu">
			<br><br>

			<a href="/forum/" class="button"> Lihat Forum </a>
			<a href="#" class="button"> 					Cari Mahasiswa </a>
			
			<br><br>
				<table align = "center" style="text-align: center">
				<tr>
					<td align = "left" width=150px><h6>Tipe Perusahaan</h6></td>
					<td id="tipe"><br></br></td>
				</tr>
				<tr>
					<td align = "left" width=150px><h6>Web Perusahaan</h6></td>
					<td id="website"><br></br></td>
				</tr>
				<tr>
					<td align = "left" width=150px><h6>Specialties</h6></td>
					<td id="spesialisasi"><br></br></td>
				</tr>
				</table>
			</div>
			
	<script type="text/javascript">
		console.log("test")
		getSessionDataCompany();
		
		function getSessionDataCompany(){
		console.log("test1");
		var company = JSON.parse(sessionStorage.company);
		console.log(company);
		document.getElementById("namaPerusahaan").innerHTML = company.name;
		document.getElementById("tipe").innerHTML = company.companyType.name;
		document.getElementById("website").innerHTML = company.websiteUrl;
		document.getElementById("spesialisasi").innerHTML = company.specialties.values[0];
		
	}
	</script>
	
{% endblock %}

