{% extends "header.html" %}
{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
{% block content %}
<html>
  <head>
    <title>
		{% block title %} Halaman Memperbaharui Status oleh {{author}} {% endblock %}
	</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="TANGGAPILAH">
	<meta name="author" content="{{author}}">
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/tugas_tanggapan.css' %}"  rel="stylesheet" type="text/css" >
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body background-color:"green">
	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-{{message.level_tag}}" role="alert">
				{{message.message}}
			</div>
		{% endfor %}
	{% endif %}

  <section name="my-list" id="my-list">
		<div class="container">
      <h3 style='color:white'>Lowongan Kerja</h3><hr>
      <div class="flex-item">
        <div class="to-do-list">
          <div>
            <span id="postlah">
            {{'Buka Hati'}}
            </span>
          </div>
          <div class="to-do-list-description" id= >
            {{data.description|linebreaksbr}}
          </div>
          <div class="to-do-list-date-added">
            {{data.created_date}}
          </div>
        </div>
      </div>

      <h3 style='color:white'>Tanggapan Lowongan Kerja</h3><hr>
      <div class="flex">
				{% if post %}
					{% for data in post %}
						<div class="flex-item">
							<div class="to-do-list">
								<div>
									
									
									<span id="postlah">
									{{'Buka Hati'}}
									</span>
								</div>
								<div class="to-do-list-description" id= >
									{{data.description|linebreaksbr}}
								</div>
								<div class="to-do-list-date-added">
									{{data.created_date}}
								</div>
							</div>
						</div>
					{% endfor %}
				{% else %}
				<div class="alert alert-danger text-center">
					<strong>Oops!</strong> Tidak ada data Status yang di Post.
				</div>
				{% endif %}
			</div>
		</div>
	</section>

	<section>
		<div class="container">
      <h3 class="my-list-title">Komentar</h3><hr>
      <h3 class="my-list-title">Buka Hati</h3>
			<div class="header">
        <!--Ambil PP Perusahaan-->
				
			</div>
			<div class="form-group">
				<form id="form" method="POST" action="{% url 'tugas-tanggapan:add_post' %}">
				{% csrf_token %}
				{{ post_form }}
				<div class="button-group pull-right">
					<p class="counter">140</p>
					<input id="submit" type="submit" class="btn btn-primary" value="Post">
				</div>
				</form>
			</div>
			<br>
		</div>
	</section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="application/javascript">
		$(function() {
		  $('a[href*="#"]:not([href="#"])').click(function() {
			if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
			  var target = $(this.hash);
			  target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
			  if (target.length) {
				$('html, body').animate({
				  scrollTop: target.offset().top - 55
				}, 1000);
				return false;
			  }
			}
		  });
		  $('.status-box').keyup(function() {
				var postLength = $(this).val().length;
				var charactersLeft = 140 - postLength;
				$('.counter').text(charactersLeft);
			});
		});
	</script>
  </body>
    {% endblock %}
