<div class="navbar navbar-default navbar-fixed-top"role="navigation">
   <div class="container">
     <div class="navbar-header">
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
       <div class="welcome user">
		<a href="#">Profile</a>
	   </div>
     </div>
     <div class="navbar-collapse collapse">
	   <ul class="nav navbar-nav navbar-right">
		 <li><a href="#">pepewe</a></li>
         <li><a href="/fitur-login/">Logout</a></li>
       </ul>
     </div><!--/.nav-collapse -->
   </div>
 </div>
